
<!-- GET BY ID -->
<div class="w-full flex justify-center">
    <p class="title">Get by id</p>
</div>
<input #getId type="number" [placeholder]="'ID get'"/>
<button (click)="getElementById(+getId.value)">Get by id</button>

<p class="subtitle">Response</p>

<pre>
   <code>{{getByIdResponse}}</code>
</pre>

<div class="separator"></div>
<!-- END GET BY ID -->

<!-- GET ALL -->
<div class="w-full flex justify-center">
    <p class="title">Get all</p>
</div>

<button (click)="getElements()">Get all</button>

<p class="subtitle">Response</p>

<pre>
   <code>{{getAllResponse}}</code>
</pre>

<div class="separator"></div>

<!-- END GET ALL -->










<router-outlet />
